@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html,body{
    font-family:'Poppins',Verdana, Geneva, Tahoma, sans-serif;
    overflow-x:hidden;
    scroll-behavior:smooth;
}
.items,.container{
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
}
.go_home{
    display: flex;
    margin-top: 15px;
    margin-left: 27px;
    /* margin: 15px; */
    
}
.go_home:hover {
    cursor: pointer;
}
.go_home h1{
    margin-top: -28px;
    margin-left: 40px;
    font-size: 28px;
}
.go_home i{
    margin-top: 25px;
}