@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html,body{
    font-family:'Poppins',Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior:smooth;
}
body {
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    user-select: none;
}
.body_login_register{
    height:100vh;
    display:flex;
    overflow-y:scroll;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-image:url('kDAaKYD-spring-wallpapers.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.body_login_register2{
    background-image:url('kDAaKYD-spring-wallpapers.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.backs_home{
    position:fixed;
    top:2%;
    left:2%;
    color:white;
    font-size:normal;
}
#content{
    width:70%;
    margin:auto;
    display:flex;
    justify-content:center;
    height:auto;
}
#content2{
    width:50%;
    margin:auto;
    margin-top:2%;
    margin-bottom:2%;
}
.welcomelogindiv{
    width:100%;
    display:flex;
    text-align:center;
    justify-content:center;
    padding:3%;
    flex-direction: column;
    color:white;
    background-color:rgb(4,189,4);
    align-items: center;
}
.logindiv,.form,.form2{
    width:100%;
    display:flex;
    justify-content:center;
    padding:3%;
    flex-direction: column;
    background-color:white;
    /*backdrop-filter:blur(8px);*/
    align-items: center;
}
.form,.form2{
    width:80%;
    padding:10%;
    overflow:hidden;
}
.logintolabel{
    display:flex;
    justify-content:center;
}
.logintolabel a{
    font-size:medium;
    color:rgb(4,189,4);
}
.Gender{
    display:flex;
    gap:5px;
    margin-top:4%;
    align-items:center;
}
.genders{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
#male,#female,#others{
    width:auto;
    margin:0;
    width:18px;
    height:18px;
}
#male[type="radio"],#female[type="radio"],#others[type="radio"]{
    accent-color:rgb(4,189,4);
}
select {
    padding:2.5%;
    outline:none;
    margin-top:4%;
    background-color:whitesmoke;
    width:100%;
    font-family: 'Poppins',Verdana, Geneva, Tahoma, sans-serif;
}
.logindiv form,.form2 form{
    width:90%;
}
.formcontents{
    display:flex;
    width:100%;
    gap:15px;
    overflow:hidden;
    flex-direction:column;
    align-items:center;
}
.formcontents h1,.form h1,.form2 h1{
    color:rgb(4,189,4);
}
.formcontents input,.formcontents button,
.form button,.form2 button{
    width:100%;
    padding:2.5%;
    font-family:'Poppins',Verdana, Geneva, Tahoma, sans-serif;
    outline:none;
}
.form input,.form2 input{
    font-family:'Poppins',Verdana, Geneva, Tahoma, sans-serif;
    width:100%;
    outline:none;
    margin-top:4%;
    padding:2.5% 0%;
}
.formcontents input,.form input,.form2 input{
    background-color:transparent;
    border-bottom-style:solid;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
    border-color:gray;
}
.formcontents button,.form button,.form2 button{
    font-weight:bold;
    background-color:rgb(4,189,4);
    border:none;
    border-radius:40px;
    color:white;
}
.for_check_contents label,.for_check_contents a{
    font-size:smaller;
}
.formcontents a{
    color:rgb(4,189,4);
}
.dont_have_accdiv a{
    font-size:medium;
}
.for_check_contents input{
    width:auto;
}



/*
fieldset.form1,fieldset.form2 { Box like border in forms
    border-radius: 10px;
    width: 97%;
    padding: 5px;
}
*/

:disabled{
    cursor: not-allowed;
}

.Gender,.State,button:hover {
    cursor: pointer;
}


#Contact_us{
    max-width: 400px;
    margin-top: 40px; 
}

/*
div .team_mem{
    display: flex;
    margin: 1%;
}
.Team_members {
    display: flex;
    width: 305px;
    font-weight: 20px;
    padding: 18px;
    height: 200px;
    border-radius: 20px;
    margin: 15px;
}
.team_mem {
    margin-left: 4px;
}
.Team_members figure {
    margin-left: -30px;
}
*/
legend{
    text-align: center;
    font-size: 25px;
}
/*
p{
    font-size: 20px;
}
*/
a:hover, a:active{
    cursor: pointer;
}
.check {
    width: 10px;
    height: 10px;
    transform: scale(2);
    cursor: pointer;
    transition: all 1 ease ;
}

table{
    border-spacing: 8px;
}
pre {
    font-size: 20px;
    margin-left: -20px;
    text-align: left;
}
i{
    width: 30px;
    margin-left:5px;
}

i:hover {
    cursor: pointer;
}
/*
.Team_members i{
    display: inline-flex;
}
*/
div .social_icon_footer{
    display: flex;
    margin-top: 15px;
    margin-left: 5px;
}
.top_text {
    margin-top:10%;
    font-weight: bold;
    font-size: 70px;
}

.blinking-dots {
    animation: blink 1.2s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.back_home{
    max-width: 250px;
    margin-top: 15px;
    margin-left: 15px;
}
.back_home a{
    display: flex;
}
.back_home i{
    margin-top: 25px;
}
.back_home h1{
    font-size: 28px;
}
/*
.Team_member_title {
    font-size: 70px;
    cursor: default;
}
*/
.foot_above{
    display:flex;
    flex-wrap:wrap;
    color:white;
    padding-top:4%;
    padding-bottom:4%;
    justify-content:space-evenly;
    align-items:center;
    text-align:center;
}
/*
footer div {
    width:100%;
    margin-left: 55px;
    margin-right: 55px;
}
*/
.up_arrow {
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: none;
    padding-top:2%;
    padding-bottom:2%; /* Hidden by default */
    cursor: pointer;
    overflow:hidden;
    align-items:center;
    z-index: 1000;
}

.up_arrow i {
    font-size: 3em;
    width:100%;
    color:black;
    height:auto;
}
.Logo {
    display: flex;
}
@media(max-width:1000px){
    #content{
        width:80%;
    }
}
@media(max-width:900px){
    #content{
        width:85%;
    }
}
@media(max-width:800px){
    #content{
        width:90%;
    }
}
@media(max-width:750px){
    #content{
        width:95%;
    }
}
@media(max-width:700px){
    #content{
        width:60%;
        flex-wrap:wrap;
    }
    #content2{
        width:60%;
    }
}
@media(max-width:600px){
    #content{
        width:70%;
        flex-wrap:wrap;
    }
    #content2{
        width:68%;
    }
    .form button,.form2 button{
        padding:3%;
    }
    .formcontents button{
        padding:3.5%;
    }
}
@media(max-width:500px){
    #content{
        width:80%;
        flex-wrap:wrap;
    }
    #content2{
        margin:0;
        width:100%;
    }
    .form button,.form2 button{
        padding:4%;
    }
    .body_login_register2 .backs_home{
        color:black;
    }
}
@media(max-width:450px){
    #content{
        width:100%;
        flex-wrap:wrap;
    }
}