@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html,body{
    font-family:'Poppins',Verdana, Geneva, Tahoma, sans-serif;
    overflow-x:hidden;
    scroll-behavior:smooth;
}
.videodiv{
    position:fixed;
    top:0;
    left:0;
    overflow:hidden;
    height:100%;
    width:100%;
    z-index:-1000;
}
.videodiv video{
    width:100%;
    height:100%;
    object-fit:cover;
}
.backs_home{
    font-size:normal;
    color:white;
}
.weatherheaddiv{
    text-align:center;
    color:white;
}
#weather{
    width:96%;
    margin:auto;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    gap:15px;
}
#weather div{
    color:white;
    padding:3%;
    border-radius:10px;
    flex:1 1 calc(33.333% - 30px);
    /*background-color:rgba(0,0,0,0.2)*/;
    box-shadow:0px 0px 2px rgba(255,255,255,0.9);
    backdrop-filter:blur(8px);
    width:100%;
}
#weather div p{
    font-weight:bold;
}
/*
.back_home{
    max-width: 250px;
    margin-top: 15px;
    margin-left: 20px;
}
.back_home a{
    display: flex;
}
.back_home i{
    margin-top: 25px;
}
.back_home h1{
    font-size: 28px;
    color: white;
    margin-left: 10px;
    margin-top: 30px;
}
*/
a {
    text-decoration: none;
    font-size: 19px;
}
@media(max-width:500px){
    #weather div{
        flex:1 1 calc(100%);
    }
}